@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p>Saiba mais sobre como <a href="https://docs.microsoft.com/aspnet/core">criar aplicativos da Web com ASP.NET Core</a>.</p>
</div>
